body {
    color:white;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    background:grey;
    background-image: url('/Users/norbu/Uni/MyPortfolio/docs/Assets/Images/pexels-photo-1229861.jpeg');
}

.navbar-brand {
    position: fixed;
    top:0;
    left:0;
    color:black;
    font-size: xx-large;
    font-weight: bold;
  }

.topnav {
    position:fixed;
    right:0;
    top:0;
    overflow: hidden;
    background-color: #333;
    margin-left: 900px;
  }

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;
}

.topnav .icon {
    display: none;
}

.Porfolio{
    margin-top: 100px;
    padding: 15px;
    /* position: absolute;
    left: 0;
    top: 100px; */
    font-size:Large;
    width: 300px;
    height: 200px;
    margin-left: 50px; 
}
 
 .Skill {
    font-size: small;
    position: relative;
    right:0;
    top:40px;
    padding:15px;
    float:left
      }

.row{
    margin-right: 50px;
    padding: 0;
    overflow: auto;
}

.gallery{
    padding-right:50px;
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom:20px;
    width: 85%;
    overflow: auto;
}

.gallery img{
    margin-right:180px;
    width: 350px;
    height: 350px;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

.row{
        margin-right: 50px;
        padding: 0;
        overflow: auto;
    }

.gallery{
        padding-right:50px;
        margin-left: 50px;
        margin-right: 150px;
        margin-bottom:20px;
        width: 85%;
        overflow: auto;
}

footer{
    background:#333;
    color: grey;
    margin-top:100px;
    padding:10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    position:fixed;
    height:25px;
    bottom:0;
  }

@media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {display: none;}
        .topnav a.icon {
        float: right;
        display: block;
    }
}
    
@media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
}

 @media screen and (max-width:768) {
            .container{
                width: 100%;
    }
}