body{
    font: white;
    font-size: 18px;
    font-family: "Georgia", "Times New Roman", Times, serif;
    line-height: 27px;
    background: white;
    margin: 0;
    padding: 0;
    background-image: url('/Users/norbu/MyPortfolio/Assets/Images/index.jpg');

}

.navbar-brand {
  position: fixed;
  top:0;
  left:0;
  color:black;
  font-size: xx-large;
  font-weight: bold;
}

.topnav {
  position:fixed;
  right:0;
  top:0;
  overflow: hidden;
  background-color: #333;
  margin-left: 900px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.container{
margin-top: 100px;;
width: 750px;
height: 80%;
margin-left: 50px;
margin-right: 400px;
margin: 0. auto; 
background-image: url('/Users/norbu/MyPortfolio/Assets/Images/index.jpg');

}

h1{
font-size: 40px;
color:rgb(55, 211, 203);
}

.sidebar{
width="300"
height="300"
align="left"
style="margin: 0 40px 0;"
}

p{
color:white;
}

footer{
  background:#333;
  color: grey;
  margin-top:100px;
  padding:10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  position:fixed;
  left:0;
  bottom:0;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .container {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;

/* @media screen and (max-width: 500px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    } */