body{
    font-size: 18px;
    color:rgb(14, 13, 13);
    font-family: "Georgia", "Times New Roman", Times, serif;
    line-height: 27px;
    background: grey;
    margin: 0;
    padding: 0;
    background-image: url(../Images/pexels-photo-747964.jpeg);
}

.navbar-brand {
  position: fixed;
  top:0;
  left:0;
  color:black;
  font-size: xx-large;
  font-weight: bold;
}

.topnav {
  position:fixed;
  right:0;
  top:0;
  overflow: hidden;
  background-color: #333;
  margin-left: 900px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
display: none;
}

.container{
  margin-top: 120px;;
  height: 200px;
  margin-left: 200px;
  margin: 0. auto; 
}

.Contact{
  font-size:small;
  margin-left:300px;
  height: 200px;
  padding:15px;
  margin-right: 30px;  
} 

h1{
font-size: 50px;
color:Black;
margin-bottom: 250px;
}

.btn btn-primary{
    color:white;
    width: 180px;
}

footer{
  background:#333;
  color: grey;
  margin-top:100px;
  padding:10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
  position:fixed;
  left:0;
  bottom:0;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .container {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
 /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #container { width:67%; }
  #navbar { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #container { width:100%; }
  #navbar { width:100%; margin:0; border:none;}
}